* {
  /* changes the cursor */
  cursor: url(./media/my-cursor.cur), auto;
}

body {
  background-color: #0A0908;
}

#spicyMenu {
  -webkit-clip-path: circle(75% at 0% 0%, 0% 100%, 100% 0%, 100% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #35012C;
  float: left;
}
#mildMenu {
  -webkit-clip-path: circle(75% at 0% 0%, 0% 100%, 100% 0%, 100% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #35012C;
  float: right;
}
#button {
  float: inherit;
}
/* aligns the menu text */

h1 {
  font-family: 'Ubuntu Mono', monospace;
  color: #a142f4;
  text-align: center;
}

/*
.apa {
  height: 100px;
  width: 200px;
}

.Papa {
  border: 7px;
  border-color: #35012C;
  text-align: center;
}

.wingdings {
  color: #a142f4;
  font-family: wingdings;
}
*/

/* unvisited link */

a:link {
  color: #a142f4;
}


/* visited link */

a:visited {
  color: #a142f4;
}


/* mouse over link */

a:hover {
  color: #ce3000;
}


/* selected link */

a:active {
  color: #8B2000;
}